.main-top {
    position: relative;
}

.main-top img {
    width: 100%;
}

/* For mobile phones: */
body {
    .text3 {
        font-size: 2px;
        position: absolute;
        top: 0%;
        left: 10%;
        color: aliceblue;
    }
    .text3 p{
        position: absolute;
        left: 1%;
        font-size: 800%;
    }
}

.nav-link img {
    width: 50px;
}
@media only screen and (min-width: 768px) {

    /* For tablets: */
    body {
        .text3 {
            left: 20%;
        }
        .text3 p{
            left: 10%;
        }
    }
}

@media only screen and (min-width: 987px) {

    /* For desktop: */
    body {
        background-color: white;
        .text3 {
            top: 1%;
            left: 33%;
        }
        .text5 {
            padding-left: 0;
            padding-right: .5rem;
        }
    }
}

